<div class="panel panel-info config-panel">
    <div class="panel-heading">{{vm.t('config.options')}} <i class="fa fa-cog fa-lg pull-right"></i></div>
    <div class="panel-body">
        <div class="form-group">
            <label>{{vm.t('config.language')}}</label>
            <span class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{vm.t('config.'+vm.locales.currentLocale().id)}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="locale in vm.locales.all()"><a href="javascript:void(0);" ng-click="vm.locales.setLocaleById(locale.id)">{{vm.t('config.'+locale.id)}}</a></li>
                </ul>
            </span>
        </div>
        <ul class="list-group">
            <li class="list-group-item  active"
                ng-click="vm.gameModesExpanded = !vm.gameModesExpanded">
                <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.gameModesExpanded, 'fa-caret-right': !vm.gameModesExpanded}"></i>
                {{vm.t('config.gamemodes')}}
            </li>
            <li class="list-group-item"
                ng-if="vm.gameModesExpanded"
                ng-repeat="gm in vm.gameModes.all()">
                {{gm}}
                <i class="fa fa-times-circle fa-lg pull-right text-danger"
                   title="{{vm.t('config.delete')}}"
                   ng-click="vm.gameModes.remove(gm)"
                   ng-if="vm.gameModes.all().length > 1"></i>
            </li>
            <li class="list-group-item"
                ng-if="vm.gameModesExpanded">
                <form class="form-inline" ng-submit="vm.addNewGameMode()">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{vm.t('config.addGamemode')}}" ng-model="vm.newGameMode" title="{{vm.t('config.addGamemodeTooltip')}}">
                            <div class="input-group-addon"><i class="fa fa-lg fa-plus-circle pull-right text-success" title="{{vm.t('config.add')}}" ng-click="vm.addNewGameMode()"></i></div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item  active"
                ng-click="vm.columnsExpanded = !vm.columnsExpanded">
                <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.columnsExpanded, 'fa-caret-right': !vm.columnsExpanded}"></i>
                {{vm.t('config.columns')}}
            </li>
            <li class="list-group-item"
                ng-if="vm.columnsExpanded">
                {{vm.t('config.columnCubed')}}
            </li>
            <li class="list-group-item"
                ng-if="vm.columnsExpanded"
                ng-repeat="column in vm.columns.all()">
                {{column}}
                <i class="fa fa-times-circle fa-lg pull-right text-danger"
                   title="{{vm.t('config.delete')}}"
                   ng-click="vm.columns.remove(column)"></i>
            </li>
            <li class="list-group-item"
                ng-if="vm.columnsExpanded">
                <form class="form-inline" ng-submit="vm.addNewColumn()">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{vm.t('config.addColumn')}}" ng-model="vm.newColumn" title="{{vm.t('config.addColumnTooltip')}}">
                            <div class="input-group-addon"><i class="fa fa-lg fa-plus-circle pull-right text-success" title="{{vm.t('config.add')}}" ng-click="vm.addNewColumn()"></i></div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="list-group">
            <li class="list-group-item  active"
                ng-click="vm.seasonsExpanded = !vm.seasonsExpanded">
                <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.seasonsExpanded, 'fa-caret-right': !vm.seasonsExpanded}"></i>
                {{vm.t('config.seasons')}}
            </li>
            <li class="list-group-item"
                ng-if="vm.seasonsExpanded"
                ng-repeat="season in vm.seasons.all()">
                {{season}}
                <i class="fa fa-times-circle fa-lg pull-right text-danger"
                   title="{{vm.t('config.delete')}}"
                   ng-click="vm.seasons.remove(season)"></i>
            </li>
            <li class="list-group-item"
                ng-if="vm.seasonsExpanded">
                <form class="form-inline" ng-submit="vm.addNewSeason()">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{vm.t('config.addSeason')}}" ng-model="vm.newSeason" title="{{vm.t('config.addSeasonTooltip')}}">
                            <div class="input-group-addon"><i class="fa fa-lg fa-plus-circle pull-right text-success" title="{{vm.t('config.add')}}" ng-click="vm.addNewSeason()"></i></div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
        <ul class="list-group backup-restore">
            <li class="list-group-item active"
                ng-click="vm.backupExpanded = !vm.backupExpanded">
                <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.backupExpanded, 'fa-caret-right': !vm.backupExpanded}"></i>
                {{vm.t('config.datamngmnt')}}
            </li>
            <li class="list-group-item" ng-if="vm.backupExpanded">
                <button class="btn btn-sm btn-info"
                        download-data
                        dd-getter="vm.backupData()"
                        dd-json="true"
                        dd-filename="'d3-item-manager.json'">{{vm.t('config.backup')}}</button>
                {{vm.t('config.backupDesc')}}
            </li>
            <li class="list-group-item" ng-if="vm.backupExpanded">
                <button class="btn btn-sm btn-info" ng-click="vm.triggerRestore()">{{vm.t('config.restore')}}</button>
                {{vm.t('config.restoreDesc')}}
            </li>
            <li class="list-group-item" ng-if="vm.backupExpanded">
                <button class="btn btn-sm btn-info"
                        download-data
                        dd-getter="vm.exportData()"
                        dd-encoding="utf8"
                        dd-filename="'d3-item-manager.csv'">{{vm.t('config.export')}}</button>
                {{vm.t('config.exportDesc')}}
            </li>
            <li class="list-group-item" ng-if="vm.backupExpanded">
                <button class="btn btn-sm btn-danger" ng-click="vm.resetAllData()">{{vm.t('config.reset')}}</button>
                {{vm.t('config.resetDesc')}}
            </li>
        </ul>
        <p><strong>{{vm.t('config.note')}}</strong>: {{vm.t('config.note1')}}</p>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" ng-click="vm.dismiss()">{{vm.t('config.close')}}</button>
    </div>
</div>