<div class="well well-sm">
    <form class="form-inline">
        <div class="form-group">
            <label for="search">{{vm.t('search.item')}}</label>
            <div class="btn-group">
                <input class="form-control" type="text" id="search" ng-model="vm.filterValue">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="vm.clear()" ng-show="vm.showClear()"></span>
            </div>
        </div>
        <div class="form-group">
            <label>{{vm.t('search.all')}} </label>
            <toggle-switch ng-model="vm.filterOverAll" on-label="{{vm.t('general.yes')}}" off-label="{{vm.t('general.no')}}" class="switch-small"></toggle-switch>
        </div>
        <div class="form-group">
            <label>{{vm.t('search.cubable')}} </label>
            <toggle-switch ng-model="vm.onlyCubable" on-label="{{vm.t('general.yes')}}" off-label="{{vm.t('general.no')}}" class="switch-small"></toggle-switch>
        </div>
        <div class="form-group">
            <label>{{vm.t('search.hideCubed')}} </label>
            <toggle-switch ng-model="vm.hideCubed" on-label="{{vm.t('general.yes')}}" off-label="{{vm.t('general.no')}}" class="switch-small"></toggle-switch>
        </div>
    </form>
</div>